Repository DecisionNerd/infoextract-cidoc: changes, and which Codecov flags are due for each by the changed paths.
All: Extraction Pipeline, I/O Modules, CRM Models, Validators, Visualization

chore: prepare v0.1.0 release
  CHANGELOG.md
Due: none

fix: use OIDC trusted publishing in PyPI publish workflow
  .github/workflows/publish.yaml
Due: none

style: auto-format source with ruff; skip changelog check for dependabot
  .github/workflows/changelog-check.yml
  src/infoextract_cidoc/extraction/langstruct_extractor.py
  src/infoextract_cidoc/extraction/lite_schema.py
  src/infoextract_cidoc/extraction/models.py
  src/infoextract_cidoc/extraction/resolution.py
  src/infoextract_cidoc/io/to_graphforge.py
  src/infoextract_cidoc/io/to_networkx/__init__.py
  src/infoextract_cidoc/io/to_networkx/analysis.py
  src/infoextract_cidoc/io/to_networkx/converters.py
  src/infoextract_cidoc/io/to_networkx/graph_builder.py
  src/infoextract_cidoc/main.py
  src/infoextract_cidoc/tests/test_networkx_integration.py
  src/infoextract_cidoc/tests/unit/test_crm_mapper.py
  src/infoextract_cidoc/tests/unit/test_graphforge_output.py
  src/infoextract_cidoc/tests/unit/test_langstruct_extractor.py
  src/infoextract_cidoc/tests/unit/test_pipeline_integration.py
  src/infoextract_cidoc/validators/quantifiers.py
  src/infoextract_cidoc/validators/typing_rules.py
  src/infoextract_cidoc/visualization/__init__.py
  src/infoextract_cidoc/visualization/export.py
  src/infoextract_cidoc/visualization/plotting.py
  src/infoextract_cidoc/visualization/styling.py
Due: Extraction Pipeline, I/O Modules, Validators, Visualization

feat: add LLM e2e tests and fix LangStructExtractor API usage
  .github/workflows/llm-tests.yml
  .github/workflows/test.yml
  src/infoextract_cidoc/extraction/langstruct_extractor.py
  src/infoextract_cidoc/tests/test_llm_e2e.py
Due: Extraction Pipeline

fix: update LangStructExtractor unit tests for new API
  src/infoextract_cidoc/tests/unit/test_langstruct_extractor.py
Due: none

feat: thread source_text through pipeline and fix all lint errors
  pyproject.toml
  src/infoextract_cidoc/extraction/__init__.py
  src/infoextract_cidoc/extraction/crm_mapper.py
  src/infoextract_cidoc/extraction/langstruct_extractor.py
  src/infoextract_cidoc/extraction/lite_schema.py
  src/infoextract_cidoc/extraction/models.py
  src/infoextract_cidoc/extraction/resolution.py
  src/infoextract_cidoc/io/to_cypher.py
  src/infoextract_cidoc/io/to_graphforge.py
  src/infoextract_cidoc/io/to_markdown.py
  src/infoextract_cidoc/io/to_networkx/analysis.py
  src/infoextract_cidoc/io/to_networkx/converters.py
  src/infoextract_cidoc/io/to_networkx/graph_builder.py
  src/infoextract_cidoc/main.py
  src/infoextract_cidoc/models/base.py
  src/infoextract_cidoc/tests/test_networkx_integration.py
  src/infoextract_cidoc/tests/unit/test_crm_mapper.py
  src/infoextract_cidoc/tests/unit/test_graphforge_output.py
  src/infoextract_cidoc/tests/unit/test_pipeline_integration.py
  src/infoextract_cidoc/visualization/export.py
  src/infoextract_cidoc/visualization/plotting.py
  src/infoextract_cidoc/visualization/styling.py
Due: Extraction Pipeline, I/O Modules, CRM Models, Visualization

docs: rewrite CLAUDE.md with deeper architecture guidance
  CLAUDE.md
Due: none

feat: replace self-rolled YAML codegen with LinkML (closes #1)
  Makefile
  pyproject.toml
  src/infoextract_cidoc/codegen/cidoc_crm.yaml
  src/infoextract_cidoc/codegen/generate_models.py
  src/infoextract_cidoc/models/base.py
  src/infoextract_cidoc/models/generated/e_classes.py
  src/infoextract_cidoc/tests/golden/test_museum_object.py
  src/infoextract_cidoc/tests/unit/test_codegen.py
  src/infoextract_cidoc/tests/unit/test_cypher.py
  src/infoextract_cidoc/tests/unit/test_markdown.py
  src/infoextract_cidoc/tests/unit/test_validators.py
  uv.lock
Due: CRM Models

feat: migrate P-properties to LinkML and fix all pre-push gate errors
  Makefile
  pyproject.toml
  src/infoextract_cidoc/codegen/cidoc_crm_properties.yaml
  src/infoextract_cidoc/codegen/generate_properties.py
  src/infoextract_cidoc/codegen/generate_registry.py
  src/infoextract_cidoc/extraction/crm_mapper.py
  src/infoextract_cidoc/io/to_cypher.py
  src/infoextract_cidoc/io/to_graphforge.py
  src/infoextract_cidoc/io/to_networkx/analysis.py
  src/infoextract_cidoc/models/base.py
  src/infoextract_cidoc/properties.py
  src/infoextract_cidoc/tests/unit/test_codegen.py
  src/infoextract_cidoc/validators/quantifiers.py
  src/infoextract_cidoc/validators/typing_rules.py
  src/infoextract_cidoc/visualization/plotting.py
  src/infoextract_cidoc/visualization/styling.py
Due: Extraction Pipeline, I/O Modules, CRM Models, Validators, Visualization

style: apply ruff formatting to pre-existing files
  src/infoextract_cidoc/codegen/generate_models.py
  src/infoextract_cidoc/io/to_networkx/converters.py
  src/infoextract_cidoc/io/to_networkx/graph_builder.py
  src/infoextract_cidoc/main.py
  src/infoextract_cidoc/models/generated/e_classes.py
  src/infoextract_cidoc/tests/test_llm_e2e.py
  src/infoextract_cidoc/tests/unit/test_markdown.py
  src/infoextract_cidoc/tests/unit/test_pipeline_integration.py
Due: I/O Modules, CRM Models

docs: add CHANGELOG entry for LinkML P-property migration
  CHANGELOG.md
Due: none

feat: migrate P-properties to LinkML and fix all pre-push gate errors (#9)
  CHANGELOG.md
  Makefile
  pyproject.toml
  src/infoextract_cidoc/codegen/cidoc_crm.yaml
  src/infoextract_cidoc/codegen/cidoc_crm_properties.yaml
  src/infoextract_cidoc/codegen/generate_models.py
  src/infoextract_cidoc/codegen/generate_properties.py
  src/infoextract_cidoc/codegen/generate_registry.py
  src/infoextract_cidoc/extraction/crm_mapper.py
  src/infoextract_cidoc/io/to_cypher.py
  src/infoextract_cidoc/io/to_graphforge.py
  src/infoextract_cidoc/io/to_networkx/analysis.py
  src/infoextract_cidoc/io/to_networkx/converters.py
  src/infoextract_cidoc/io/to_networkx/graph_builder.py
  src/infoextract_cidoc/main.py
  src/infoextract_cidoc/models/base.py
  src/infoextract_cidoc/models/generated/e_classes.py
  src/infoextract_cidoc/properties.py
  src/infoextract_cidoc/tests/golden/test_museum_object.py
  src/infoextract_cidoc/tests/test_llm_e2e.py
  src/infoextract_cidoc/tests/unit/test_codegen.py
  src/infoextract_cidoc/tests/unit/test_cypher.py
  src/infoextract_cidoc/tests/unit/test_markdown.py
  src/infoextract_cidoc/tests/unit/test_pipeline_integration.py
  src/infoextract_cidoc/tests/unit/test_validators.py
  src/infoextract_cidoc/validators/quantifiers.py
  src/infoextract_cidoc/validators/typing_rules.py
  src/infoextract_cidoc/visualization/plotting.py
  src/infoextract_cidoc/visualization/styling.py
  uv.lock
Due: Extraction Pipeline, I/O Modules, CRM Models, Validators, Visualization

ci: improve CI/CD to match GraphForge comprehensiveness (closes #10)
  .github/labeler.yml
  .github/workflows/changelog-check.yml
  .github/workflows/docs.yml
  .github/workflows/llm-tests.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-tracking.yml
  .github/workflows/test.yml
Due: none

ci: improve CI/CD to match GraphForge comprehensiveness (closes #10) (#11)
  .github/labeler.yml
  .github/workflows/changelog-check.yml
  .github/workflows/docs.yml
  .github/workflows/llm-tests.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-tracking.yml
  .github/workflows/test.yml
Due: none

chore: bump version to 0.1.1
  CHANGELOG.md
  pyproject.toml
Due: none

feat: broaden Python support to 3.10+
  .github/workflows/test.yml
  CHANGELOG.md
  CLAUDE.md
  pyproject.toml
Due: none

fix: set requires-python to >=3.12 (langstruct floor)
  .github/workflows/test.yml
  CHANGELOG.md
  CLAUDE.md
  pyproject.toml
Due: none

feat: broaden Python support to 3.10+ (#12)
  .github/workflows/test.yml
  CHANGELOG.md
  CLAUDE.md
  pyproject.toml
Due: none

chore: bump version to 0.1.2
  CHANGELOG.md
  pyproject.toml
Due: none

fix: guard changelog-check against non-PR events and update description
  .github/workflows/changelog-check.yml
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

fix: guard changelog-check against non-PR events and update description (#13)
  .github/workflows/changelog-check.yml
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

chore: bump version to 0.1.3
  CHANGELOG.md
  pyproject.toml
Due: none

fix: correct YAML parse error in changelog-check workflow
  .github/workflows/changelog-check.yml
  CHANGELOG.md
  pyproject.toml
Due: none

fix: replace || echo "0" with || true in changelog-check grep calls
  .github/workflows/changelog-check.yml
Due: none

fix: correct YAML parse error and grep || echo bug in changelog-check
  .github/workflows/changelog-check.yml
  CHANGELOG.md
  pyproject.toml
Due: none

fix: comprehensive codebase audit — pipeline, Cypher, runtime, cleanup, tests
  Makefile
  pyproject.toml
  src/infoextract_cidoc/__init__.py
  src/infoextract_cidoc/extraction/crm_mapper.py
  src/infoextract_cidoc/extraction/langstruct_extractor.py
  src/infoextract_cidoc/extraction/models.py
  src/infoextract_cidoc/io/to_cypher.py
  src/infoextract_cidoc/io/to_markdown.py
  src/infoextract_cidoc/io/to_networkx/converters.py
  src/infoextract_cidoc/io/to_networkx/graph_builder.py
  src/infoextract_cidoc/main.py
  src/infoextract_cidoc/models/__init__.py
  src/infoextract_cidoc/models/base.py
  src/infoextract_cidoc/models/generated/__init__.py
  src/infoextract_cidoc/models/shortcuts.py
  src/infoextract_cidoc/tests/conftest.py
  src/infoextract_cidoc/tests/golden/test_museum_object.py
  src/infoextract_cidoc/tests/test_networkx_integration.py
  src/infoextract_cidoc/tests/unit/test_converters.py
  src/infoextract_cidoc/tests/unit/test_crm_mapper.py
  src/infoextract_cidoc/tests/unit/test_cypher.py
  src/infoextract_cidoc/tests/unit/test_graph_builder.py
  src/infoextract_cidoc/tests/unit/test_lite_schema.py
  src/infoextract_cidoc/tests/unit/test_markdown.py
  src/infoextract_cidoc/tests/unit/test_validators.py
  src/infoextract_cidoc/validators/__init__.py
  src/infoextract_cidoc/validators/quantifiers.py
  src/infoextract_cidoc/validators/typing_rules.py
  src/infoextract_cidoc/visualization/plotting.py
  src/infoextract_cidoc/visualization/styling.py
  uv.lock
Due: Extraction Pipeline, I/O Modules, CRM Models, Validators, Visualization

chore: bump version to 0.1.5
  pyproject.toml
  src/infoextract_cidoc/__init__.py
Due: none

fix: apply ruff format and guard nx.pagerank against missing scipy
  src/infoextract_cidoc/extraction/crm_mapper.py
  src/infoextract_cidoc/io/to_networkx/analysis.py
  src/infoextract_cidoc/tests/conftest.py
  src/infoextract_cidoc/tests/unit/test_converters.py
Due: Extraction Pipeline, I/O Modules

chore: bump version to 0.1.6
  pyproject.toml
  src/infoextract_cidoc/__init__.py
Due: none

chore: remove legacy COLLIE branding assets and demo notebook
  COLLIE_Demo_Notebook.ipynb
  README.md
  collie-logo-white-bg.png
  collie-logo.png
  collie-no-bg.png
  collie-white-bg.png
  notebook_output/batch_canonical_entities.json
  notebook_output/canonical_entities.json
  notebook_output/markdown/entities_summary.md
  notebook_output/markdown/entity_1_E21.md
  notebook_output/markdown/entity_2_E21.md
  notebook_output/markdown/entity_3_E21.md
  notebook_output/markdown/entity_3_E53.md
  notebook_output/markdown/entity_4_E21.md
  notebook_output/markdown/entity_4_E53.md
  notebook_output/markdown/entity_5_E21.md
  notebook_output/markdown/entity_5_E53.md
  notebook_output/network.cypher
  notebook_output/plots/network_overview.png
  notebook_output/workflow_summary.md
Due: none

chore: give demos a home in examples/ and add docs
  .gitignore
  README.md
  docs/examples/index.md
  einstein_demo.py
  examples/README.md
  examples/einstein_demo.py
  mkdocs.yml
Due: none

chore: bump version to 0.1.7
  pyproject.toml
  src/infoextract_cidoc/__init__.py
Due: none

Path conditions:
  Extraction Pipeline: any of: src/infoextract_cidoc/extraction/**, but not: src/infoextract_cidoc/codegen/**, src/infoextract_cidoc/tests/**
  I/O Modules: any of: src/infoextract_cidoc/io/**, but not: src/infoextract_cidoc/codegen/**, src/infoextract_cidoc/tests/**
  CRM Models: any of: src/infoextract_cidoc/models/**, but not: src/infoextract_cidoc/codegen/**, src/infoextract_cidoc/tests/**
  Validators: any of: src/infoextract_cidoc/validators/**, but not: src/infoextract_cidoc/codegen/**, src/infoextract_cidoc/tests/**
  Visualization: any of: src/infoextract_cidoc/visualization/**, but not: src/infoextract_cidoc/codegen/**, src/infoextract_cidoc/tests/**
